<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <body>
        <div class="vh-100 d-flex align-items-center">
            <div class="mx-auto">
                <div class="header">
                    <h2>All Shows</h2>
                    <a href="/shows" class="goback">Go Back</a>
                </div>
                <table class="table table-condensed table-bordered table-dark">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Network</th>
                            <th>Release Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for show in all_shows%}
                        <tr>
                            <td>{{show.id}}</td>
                            <td>{{show.title}}</td>
                            <td>{{show.network}}</td>
                            <td>{{show.release_date}}</td>
                            <td>
                                <a class="" href="/shows/{{show.id}}">Show |</a>
                                <a class="" href="/shows/{{show.id}}/edit">Edit |</a>
                                <a class="" href="/shows/{{show.id}}/destroy"> Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                    
                </table>
                <a href="/shows/new" class="goback">Add a New Show</a>
            </div>
        </div>

    </body>

</html>